<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Entreprise</title>
</head>
<body>
	<h1>Test entriprises</h1>
	<div layout:fragment = "content">
	<table>
		<tr>
			<th>Code</th><th>Nom</th><th>Raison social</th><th>Email</th>
			</tr>
		<tr th:each= "e:${listeEntreprises}">
				<td th:text= "${e.code}"></td>
				<td th:text= "${e.nom}"></td>
				<td th:text= "${e.raisonSociale}"></td>
				<td th:text= "${e.email}"></td>
		</tr>
		
		
	</table>
	</div>
</body>
</html>