<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1">
<head>
<meta charset="utf-8"/>
<title>Entreprise</title>
</head>
<body>
	<div layout:fragment = "content" class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des entreprises</div>
			<div class="panel-body">
			<div class="container">
				<form th:action="@{/entreprises}" method = "get">
					<label>Mot cle:</label>
					<input type="text" name="motCle"/>	
					<button type="submit" class="btn btn-primary">Chercher</button>
					<span></span>
				</form>
			</div>
			<table class ="table table-striped ">
				<tr>
					<th>ID</th><th>Titre</th><th>Date</th><th>Montant</th><th>Type</th>
				</tr>
				<tr th:each= "t:${taxes}">
					<td th:text= "${t.id}"></td>
					<td th:text= "${t.titre}"></td>
					<td th:text= "${t.dataTaxe}"></td>
					<td th:text= "${t.montant}"></td>
					<td th:text= "${t.class.simpleName}"></td>
				</tr>		
			</table>
			<div>
				<ul class="nav nav-pills ">
					<li th:class = "${status.index == pageCourante}?'active':''" th:each = "p, status:${pages}">
						<a th:href="@{/entreprises(motCle=${motCle}, page=${status.index}, size=4)}" th:text = "${status.index} + 1"></a>
					</li>
				</ul>
			</div>
	     </div>
		</div>
	
	</div>
</body>
</html>